@model List<PersonsMVC.Models.PersonsTasks>
@using Newtonsoft.Json
@{
    Layout = null;
}

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

<form method="post" asp-action="Save" asp-controller="Alpine">
    <div x-data='taskHandler(@Html.Raw(JsonConvert.SerializeObject(Model ?? new List<PersonsTasks>())))'>
        <button type="button" @@click="addRow()">Add Task</button>

        <table class="table-auto border my-4 w-full">
            <thead>
                <tr class="bg-gray-200">
                    <th>Description</th>
                    <th>Register Date</th>
                    <th>Finished</th>
                    <th>ID Person</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="(row, index) in tasks" :key="index">
                    <tr>
                        <td>
                            <input type="text" :name="'tasks[' + index + '].Description'" x-model="row.Description" class="border px-2" />
                        </td>
                        <td>
                            <input type="date" :name="'tasks[' + index + '].RegisterDate'" x-model="row.RegisterDate" class="border px-2" />
                        </td>
                        <td>
                            <input type="checkbox" :name="'tasks[' + index + '].Finished'" x-model="row.Finished" />
                        </td>
                        <td>
                            <input type="number" :name="'tasks[' + index + '].IDPerson'" x-model="row.IDPerson" class="border px-2" />
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        <button type="submit">Save</button>
    </div>
</form>

<script>
    function taskHandler(initialTasks) {
        return {
            tasks: initialTasks || [],
            addRow() {
                this.tasks.push({
                    Idtask: 0,
                    Description: '',
                    RegisterDate: null,
                    Finished: false,
                    IDPerson: 0
                });
            }
        };
    }
</script>